.footer{
    display: flex;
}


.first {
    margin-top: 3rem;
    margin-left: 10rem;
    display: grid;

} 
.second{
    margin-left: 9rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}
.second p{
    margin-top: 0%;
    margin-bottom: 0%;
    word-spacing: 5rem;
    margin-left: 2rem;
}
.third {
    margin-left: 8rem;
    margin-top: 2rem;
}

.third  p{
    margin-top: 2rem;
}

.third a{
    margin-left: 0.5rem;
}